# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\pc\Desktop\Deu Ceng\4.sınıf 1.dönem\Bitirme\Codes\Kendi Kodlarım\Tweet Temizleme\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
